{% extends "::base.html.twig" %}

{% block title %}AppBundle:Index:index{% endblock %}

{% block body %}
<h1>Hello world.</h1>
<p><a href="{{ path('login') }}">Sign in to your account.</a></p>
<p><a href="{{ path('register') }}">Don't have an account? Sign up!</a></p>
{% endblock %}