{% extends "::base.html.twig" %}

{% block title %}AppBundle:Index:index{% endblock %}

{% block body %}
<h1>Hello world.</h1>
<p><a href="{{ path('login') }}">Log in.</a></p>
<p><a href="{{ path('register') }}">Sign up.</a></p>
{% endblock %}