{% extends "::base.html.twig" %}

{% block title %}AppBundle:EditAccount:index{% endblock %}


{% block body %}
	<h1>Edit account</h1>
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="alert alert-warning" role="alert">
			{{ flashMessage }}
		</div>
	{% endfor %}


	{{ form(form) }}

	<p><a href="{{ path('profile') }}">Go back.</a></p>

{% endblock %}