<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- jquery cdn -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

        <!-- bootstrap CDN -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="{{ path('index') }}">Chromedia Test Project</a>

                <ul class="nav navbar-nav pull-right">
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if form is defined %}
                        {% form_theme form 'form/fields.html.twig' %}
                    {% endif %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
