{% extends "::base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('notice') %}
	{{ flashMessage }}
{% endfor %}

<h1>Profile page</h1>
<p><a href="{{ path('editaccount') }}">Edit account</a></p>
<p><a href="{{ path('changepass') }}">Change password</a></p>
{% endblock %}