{% extends "::base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}

	<h1>Profile page</h1>

	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="alert alert-success" role="alert">
			{{ flashMessage }}
		</div>
	{% endfor %}

	<p><a href="{{ path('editaccount') }}">Edit account</a></p>
	<p><a href="{{ path('changepass') }}">Change password</a></p>
{% endblock %}