{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}


{% block body %}
<h1>Login</h1>

{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="alert alert-danger" role="alert">
		<p>{{ flashMessage }}</p>
	</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
	<div class="alert alert-success" role="alert">
		<p>{{ flashMessage }}</p>
	</div>
{% endfor %}

{{ form(form) }}

<p><a href="{{ path('forgot') }}">Forgot password?</a></p>
{% endblock %}